#!/usr/bin/env bash

echo "Provisioning virtual machine..."
export DEBIAN_FRONTEND=noninteractive

echo "Updating apt"
apt-get update > /dev/null

echo "Installing vim"
apt-get install -y vim > /dev/null

echo "Installing Apache and linking /vagrant to /var/www"
apt-get install -y apache2 > /dev/null
if ! [ -L /var/www ]; then
  rm -rf /var/www
  ln -fs /vagrant /var/www
fi

echo "Installing PHP"
apt-get install -y php7.2 php7.2-dev libapache2-mod-php7.2 libsodium23 php-common php7.2-cli php7.2-common php7.2-json php7.2-opcache php7.2-readline > /dev/null

echo "Installing PHP extensions"
apt-get install -y curl php-curl php7.2-gd mcrypt php-mysql php7.2-mysql > /dev/null
sed -i "s|;extension=pdo_mysql|extension=pdo_mysql|g" /etc/php/7.2/apache2/php.ini

echo "Making PHP and Apache work together"
sudo a2enmod php7.2 # > /dev/null
service apache2 stop # > /dev/null
echo "listen 4069" | sudo tee --append /etc/apache2/httpd.conf
echo "ServerName localhost" | sudo tee --append /etc/apache2/httpd.conf
sudo ln -s /etc/apache2/mods-available/rewrite.load /etc/apache2/mods-enabled/rewrite.load
sudo rm /etc/apache2/sites-enabled/000-default.conf
sudo cp /vagrant/.vagrant/default.conf /etc/apache2/sites-enabled/000-default.conf
service apache2 restart # > /dev/null

echo "Preparing MySQL"
apt-get install debconf-utils -y > /dev/null
debconf-set-selections <<< "mysql-server mysql-server/root_password password 1234"
debconf-set-selections <<< "mysql-server mysql-server/root_password_again password 1234"

echo "Installing MySQL"
apt-get install mysql-server -y > /dev/null

echo "Setup database"
mysql -uroot -p1234 -e "DROP DATABASE IF EXISTS ---your-db-name-here---";
mysql -uroot -p1234 -e "CREATE DATABASE ---your-db-name-here---;"

echo "Make MySQL external accessible"
mysql -uroot -p1234 -e "GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' IDENTIFIED BY '1234';"
mysql -uroot -p1234 -e "GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost' IDENTIFIED BY '1234';"
mysql -uroot -p1234 -e "GRANT ALL PRIVILEGES ON *.* TO 'cartographer'@'localhost' IDENTIFIED BY '1234';"

echo "Import bootstrap SQL"
mysql -uroot -p1234 ---your-db-name-here--- < /vagrant/---your-db-name-here---.sql

sudo service mysql restart
